<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title th:text="#{home.bemVindo}">Bem Vindo</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <style>
            body {
                background-color: #f8f9fa;
            }
            h1 {
                margin: 20px 0;
                color: #343a40;
            }
            .container {
                margin-top: 30px;
            }
            .btn-primary, .btn-danger {
                margin-right: 5px;
            }
            .btn-cadastrar {
                margin-bottom: 20px;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <h1 th:text="#{home.bemVindo}" class="text-center">Bem Vindo à Aplicação</h1>
            
            <div class="text-center">
                <a th:text="#{usuario.listaDeUsuario}" th:href="@{/usuarios}" class="btn btn-primary btn-sm">Lista de Usuário</a>
                <a th:text="#{feedback.listaDeFeedback}" th:href="@{/feedbacks}" class="btn btn-primary btn-sm">Lista de Feedback</a>
            </div>
            
            <!-- Botão de Logout -->
            <div class="text-center mt-3">
                <form th:action="@{/sair}" method="post" id="logoutForm">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                    <button th:text="#{home.sairDaConta}" type="submit" class="btn btn-danger btn-sm">Sair da Conta</button>
                </form>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk3K5PqplrfTEEZG1IbbvYUew+OrCXaRkfj9JRM"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
    </body>
</html>
